

.anim,
.anim:after,
.anim:before {
	transition: all .35s;

	/* Trigger GPU acceleration. Remove first flicker on iphone. */
	transform: translate3d(0, 0, 0);

	perspective: 1000px;
}

.flip {
	transform-origin: 0 0;
	transition: transform .5s, width .5s, height .5s, opacity .5s;
}
.is-lifted {
	animation: .5s lift;
	z-index: 10;
}
@keyframes lift {
	70% { scale: 1.06; box-shadow: 0 5px 20px rgba(0, 0, 0, .8); }
}

