
/**
 *  1. Trigger GPU acceleration.
 *     Remove first flicker on iphone.
 */

.anim,
.anim:after,
.anim:before {
	-webkit-transition: all .2s cubic-bezier(0, 0, .2, 1) 0s;
	   -moz-transition: all .2s cubic-bezier(0, 0, .2, 1) 0s;
	     -o-transition: all .2s cubic-bezier(0, 0, .2, 1) 0s;
	        transition: all .2s cubic-bezier(0, 0, .2, 1) 0s;

	-webkit-transform: translate3d(0, 0, 0);     /* 1 */
	        transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	        perspective: 1000;
}

