
/**
 *  1. Do not adjusts the text size automatically.
 *     IE Phone note - If the viewport is set using <meta> element,
 *     the value of the CSS text-size-adjust property is ignored.
 *     Webkit bug - If -webkit-text-size-adjust is explicitely set to none,
 *     Webkit-based desktop browsers, like Chrome or Safari,
 *     instead of ignoring the property, will prevent the user to zoom in or out the Web page.
 *     See Bug 56543, Bug 163359, and Bug 84186.
 *  2. IE for Windows Phone 8.1 supports "-webkit-text-size-adjust" as an alias for "-ms-text-size-adjust".
 *  3. Firefox<29, iOS<4, Android<4 need vendor prefixes.
 *  4. Disable double-tap gestures to remove 350 millisecond delay before single taps.
 *  5. Improve scroll performance by stop the paint on scroll.
 *     Fix position: fixed in most Android 2.2–2.3 browsers
 *     http://benfrain.com/easy-css-fix-fixed-positioning-android-2-2-2-3/
 */

*, *:before, *:after {
	color: inherit;
	background-color: inherit;
	text-decoration: inherit;
	-webkit-box-sizing: inherit;          /* 3 */
	   -moz-box-sizing: inherit;
	        box-sizing: inherit;
	-webkit-backface-visibility: inherit;
	        backface-visibility: inherit;
}

html {
	-webkit-text-size-adjust: 100%;       /* 1 */
	    -ms-text-size-adjust: 100%;       /* 2 */
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;       /* 3 */
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	touch-action: manipulation;           /* 4 */
	-webkit-backface-visibility: hidden;  /* 5 */
	        backface-visibility: hidden;
}

html,
body,
form,
fieldset,
legend,
img,
.btn,
.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

/**
 *  1. Alternate cursor for IE
 *  2. Fixes extra padding issue in IE6/7
 *  3. Firefox default is: b, strong { font-weight: bolder; }
 *     and it does not render well with some fonts (Helvetica Neue on macs for example).
 */

a,
button,
label,
.btn,
.hand {
	cursor: pointer;
	*cursor: hand;       /* 1 */
	pointer-events: auto;
}

.no-events {
	pointer-events: none;
}

button {
	width: auto;         /* 2 */
	overflow: visible;   /* 2 */
}

b,
strong,
th {
	font-weight: bold;   /* 3 */
}

audio,
button,
canvas,
iframe,
img,
input,
select,
svg,
video {
	vertical-align: middle;
}

/**
 *  1. tables still need cellspacing="0" in the markup
 *  2. Restores the normal text size
 *     @see http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
 */

table {
	border-collapse: collapse;
	border-spacing: 0;                  /* 1 */
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;  /* 2 */
	font-size: 1em;
}

textarea {
	resize: vertical;
}

button,
[draggable=true],
.btn,
.no-select {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

[draggable=true] {
	-webkit-user-drag: element;
	 -khtml-user-drag: element;
	        user-drag: element;
}


/**
 * Global Classes
 * --------------
 */

.max-height {
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.sm .sm-hide,
.md .md-hide,
.lg .lg-hide,
.hide-empty:empty,
.hide {
	display: none !important;
	visibility: hidden;
}
.transparent {
	opacity: 0 !important;
	filter: alpha(opacity=0) !important;
}
.abs {
	position: absolute;
}
.absr {
	position: absolute;
	top: 0px;
	right: 0px;
}
.fix {
	position: absolute;
	position: fixed;
}
.rel {
	position: relative;
	height: 100%;
}
.max {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/* establishes a new block formatting context */
.block {
	overflow: hidden;
}

.btn,
.no-wrap,
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
 *  1. Trigger GPU acceleration.
 *     Remove first flicker on iphone.
 */

.anim,
.anim:after,
.anim:before {
	-webkit-transition: all .25s cubic-bezier(0, 0, .2, 1) 0s;
	   -moz-transition: all .25s cubic-bezier(0, 0, .2, 1) 0s;
	     -o-transition: all .25s cubic-bezier(0, 0, .2, 1) 0s;
	        transition: all .25s cubic-bezier(0, 0, .2, 1) 0s;

	-webkit-transform: translate3d(0, 0, 0);     /* 1 */
	        transform: translate3d(0, 0, 0);
	-webkit-perspective: 1000;
	        perspective: 1000;
}

.sm .sm-left,
.md .md-left,
.lg .lg-left,
.left {
	float: left;
}

.sm .sm-right,
.md .md-right,
.lg .lg-right,
.right {
	float: right !important;
}

.sm .sm-t-left,
.md .md-t-left,
.lg .md-t-left,
.lg .lg-t-left,
.t-left {
	text-align: left;
}
.sm .sm-t-center,
.md .md-t-center,
.lg .md-t-center,
.lg .lg-t-center,
.t-center {
	text-align: center;
}
.sm .sm-t-right,
.md .md-t-right,
.lg .md-t-right,
.lg .lg-t-right,
.t-right {
	text-align: right;
}


