


*, *:before, *:after {
	color: inherit;
	box-sizing: inherit;
	backface-visibility: inherit;
}

html {
	/* 62.5% sets 1em = 10px (16px × 0.625) */
	font-size: 62.5%;

	/* Use IE4 superior box model */
	box-sizing: border-box;

	/* Improve scroll performance by stop the paint on scroll */
	backface-visibility: hidden;
}

html,
body,
form,
fieldset,
legend,
img,
.btn,
.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

a[href],
button,
label,
.btn,
.hand {
	cursor: pointer;
	pointer-events: auto;
}

.no-events {
	pointer-events: none;
}

b,
strong,
th {
	/* Firefox's default 'bolder' looks bad with some fonts (Helvetica Neue on macs). */
	font-weight: bold;
}

audio,
button,
canvas,
iframe,
img,
input,
select,
svg,
video {
	vertical-align: top;
}


table {
	/* tables still need cellspacing="0" in the markup */
	border-collapse: collapse;
	border-spacing: 0;
}

code,
kbd,
pre,
samp {
	/* Fix monospace bug in browsers that may ignore first one */
	font-family: monospace, monospace;
	font-size: 1em;
}

textarea {
	resize: both;
}

button,
.btn,
.no-select,
[draggable=true] {
	user-select: none;
}


