

.grid {
	display: block;
	overflow: auto;
	clear: both;
}

[class*="col-"] {
	position: relative;
	float: left;
	overflow: auto;
	min-height: 1px;
}

.pad-3 { padding: 1.24em; }
.pad-2, .grid.pad-3, .grid.pad-3 > [class*="col-"] { padding: .62em; }
.pad-1, .grid.pad-2, .grid.pad-2 > [class*="col-"] { padding: .31em; }
.grid.pad-1, .grid.pad-1 > [class*="col-"] { padding: .155em; }

.col-g1, .md .col-md-g1, .lg .col-md-g1, .lg .col-lg-g1 { width: 100%; }
.col-g2, .md .col-md-g2, .lg .col-md-g2, .lg .col-lg-g2 { width: 61.8%; }
.col-g3, .md .col-md-g3, .lg .col-md-g3, .lg .col-lg-g3 { width: 38.2%; }
.col-g4, .md .col-md-g4, .lg .col-md-g4, .lg .col-lg-g4 { width: 23.6%; }
.col-g5, .md .col-md-g5, .lg .col-md-g5, .lg .col-lg-g5 { width: 14.6%; }
.col-g6, .md .col-md-g6, .lg .col-md-g6, .lg .col-lg-g6 { width: 9%; }

.col-12, .md .col-md-12, .lg .col-md-12, .lg .col-lg-12 { width: 100%; }
.col-11, .md .col-md-11, .lg .col-md-11, .lg .col-lg-11 { width: 91.667%; }
.col-10, .md .col-md-10, .lg .col-md-10, .lg .col-lg-10 { width: 83.333%; }
.col-9 , .md .col-md-9 , .lg .col-md-9 , .lg .col-lg-9  { width: 75%; }
.col-8 , .md .col-md-8 , .lg .col-md-8 , .lg .col-lg-8  { width: 66.667%; }
.col-7 , .md .col-md-7 , .lg .col-md-7 , .lg .col-lg-7  { width: 58.333%; }
.col-6 , .md .col-md-6 , .lg .col-md-6 , .lg .col-lg-6  { width: 50%; }
.col-5 , .md .col-md-5 , .lg .col-md-5 , .lg .col-lg-5  { width: 41.667%; }
.col-4 , .md .col-md-4 , .lg .col-md-4 , .lg .col-lg-4  { width: 33.333%; }
.col-3 , .md .col-md-3 , .lg .col-md-3 , .lg .col-lg-3  { width: 25%; }
.col-2 , .md .col-md-2 , .lg .col-md-2 , .lg .col-lg-2  { width: 16.667%; }
.col-1 , .md .col-md-1 , .lg .col-md-1 , .lg .col-lg-1  { width: 8.333%; }



