
.left12, .md .md-left12, .lg .md-left12, .lg .lg-left12 { left: 100%; }
.left11, .md .md-left11, .lg .md-left11, .lg .lg-left11 { left: 91.6667%; }
.left10, .md .md-left10, .lg .md-left10, .lg .lg-left10 { left: 83.3333%; }
.left9 , .md .md-left9 , .lg .md-left9 , .lg .lg-left9  { left: 75%; }
.left8 , .md .md-left8 , .lg .md-left8 , .lg .lg-left8  { left: 66.6667%; }
.left7 , .md .md-left7 , .lg .md-left7 , .lg .lg-left7  { left: 58.3333%; }
.left6 , .md .md-left6 , .lg .md-left6 , .lg .lg-left6  { left: 50%; }
.left5 , .md .md-left5 , .lg .md-left5 , .lg .lg-left5  { left: 41.6667%; }
.left4 , .md .md-left4 , .lg .md-left4 , .lg .lg-left4  { left: 33.3333%; }
.left3 , .md .md-left3 , .lg .md-left3 , .lg .lg-left3  { left: 25%; }
.left2 , .md .md-left2 , .lg .md-left2 , .lg .lg-left2  { left: 16.6667%; }
.left1 , .md .md-left1 , .lg .md-left1 , .lg .lg-left1  { left: 8.3333%; }
.left0 , .md .md-left0 , .lg .md-left0 , .lg .lg-left0  { left: 0; }

.right12, .md .md-right12, .lg .md-right12, .lg .lg-right12 { right: 100%; }
.right11, .md .md-right11, .lg .md-right11, .lg .lg-right11 { right: 91.6667%; }
.right10, .md .md-right10, .lg .md-right10, .lg .lg-right10 { right: 83.3333%; }
.right9 , .md .md-right9 , .lg .md-right9 , .lg .lg-right9  { right: 75%; }
.right8 , .md .md-right8 , .lg .md-right8 , .lg .lg-right8  { right: 66.6667%; }
.right7 , .md .md-right7 , .lg .md-right7 , .lg .lg-right7  { right: 58.3333%; }
.right6 , .md .md-right6 , .lg .md-right6 , .lg .lg-right6  { right: 50%; }
.right5 , .md .md-right5 , .lg .md-right5 , .lg .lg-right5  { right: 41.6667%; }
.right4 , .md .md-right4 , .lg .md-right4 , .lg .lg-right4  { right: 33.3333%; }
.right3 , .md .md-right3 , .lg .md-right3 , .lg .lg-right3  { right: 25%; }
.right2 , .md .md-right2 , .lg .md-right2 , .lg .lg-right2  { right: 16.6667%; }
.right1 , .md .md-right1 , .lg .md-right1 , .lg .lg-right1  { right: 8.3333%; }
.right0 , .md .md-right0 , .lg .md-right0 , .lg .lg-right0  { right: 0; }


