
@media (prefers-color-scheme: dark) {
	.day.dark-scheme   { background:  #333; color: white; }
	.night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-contrast: more) {
	.contrast { outline: 2px solid black; }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
	* {
		animation-duration: 0.001ms !important;
		/* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
		animation-iteration-count: 1 !important;
		transition-duration: 0.001ms !important;
	}
}

