
.p0, .p00, .p01, .p02, .p03, .p04 { padding-top:    0; padding-bottom:    0; }
.p1, .p10, .p11, .p12, .p13, .p14 { padding-top:  4px; padding-bottom:  4px; }
.p2, .p20, .p21, .p22, .p23, .p24 { padding-top:  8px; padding-bottom:  8px; }
.p3, .p30, .p31, .p32, .p33, .p34 { padding-top: 12px; padding-bottom: 12px; }
.p4, .p40, .p41, .p42, .p43, .p44 { padding-top: 16px; padding-bottom: 16px; }

.p0, .p00, .p10, .p20, .p30, .p40 { padding-left:    0; padding-right:    0; }
.p1, .p01, .p11, .p21, .p31, .p41 { padding-left:  4px; padding-right:  4px; }
.p2, .p02, .p12, .p22, .p32, .p42 { padding-left:  8px; padding-right:  8px; }
.p3, .p03, .p13, .p23, .p33, .p43 { padding-left: 12px; padding-right: 12px; }
.p4, .p04, .p14, .p24, .p34, .p44 { padding-left: 16px; padding-right: 16px; }

.grid.p1, .grid.p1 > .col, .grid.p1 > .row > .col, .grid.p1 > .grid > .col { padding: 2px; }
.grid.p2, .grid.p2 > .col, .grid.p2 > .row > .col, .grid.p2 > .grid > .col { padding: 4px; }
.grid.p3, .grid.p3 > .col, .grid.p3 > .row > .col, .grid.p3 > .grid > .col { padding: 6px; }
.grid.p4, .grid.p4 > .col, .grid.p4 > .row > .col, .grid.p4 > .grid > .col { padding: 8px; }
.grid.p1 > .grid, .grid.p2 > .grid, .grid.p3 > .grid, .grid.p4 > .grid { padding: 0; }

.grid.b1, .grid.b1 > .col, .grid.b1 > .row > .col, .grid.b1 > .grid > .col { border: 2px solid transparent; }
.grid.b2, .grid.b2 > .col, .grid.b2 > .row > .col, .grid.b2 > .grid > .col { border: 4px solid transparent; }
.grid.b3, .grid.b3 > .col, .grid.b3 > .row > .col, .grid.b3 > .grid > .col { border: 6px solid transparent; }
.grid.b4, .grid.b4 > .col, .grid.b4 > .row > .col, .grid.b4 > .grid > .col { border: 8px solid transparent; }
.grid.b1 > .grid, .grid.b2 > .grid, .grid.b3 > .grid, .grid.b4 > .grid { border: none; }

