
/**
 * @see http://smacss.com/book/categorizing
 * Theme rules describe how modules or layouts might look.
 * Without theme site must work but look like a wireframe.
 *
 * base and components should be reusable across projects.
 */

@import url("css/base.css");
@import url("css/layout.css");
/*@import url("css/components/more/more.css");*/
@import url("css/state.css");
@import url("css/theme.css");






/*
@font-face {
	font-family: '<font-family>';
	src: url('<font-file>.eot?#iefix') format('embedded-opentype');
	src: local('<font-family>'), url('<font-file>.ttf') format('truetype'), url('<font-file>.woff') format('woff'), url('<font-file>') format('svg');
}
@font-face {
	font-family: '<font-family>';
	src: url('<font-file>.ttf') format('truetype'), url('<font-file>.woff') format('woff'), url('<font-file>') format('svg');
}

@font-face {
	font-family: "Bitstream Vera Serif Bold";
	src: url("/files/2468/VeraSeBd.ttf");
}

*/


