


/**
 *  1. Force a vertical scrollbar to prevent a jumpy page.
 *  2. Fix margin 0 auto in IE4-5.5.
 *  3. The bottom margin is the negative value of the footer's height.
 */

html {
	height: 100%;
	overflow-y: scroll;    /* 1 */
	min-width: 300px;
}

body {
	height: 100%;
	text-align: center;    /* 2 */
}

.app {
	margin: 0 auto -150px; /* 3 */
}

.app__row {
	text-align: left;      /* 2 */
}

.lg .app__row {
	width: 990px;
	margin: 0 auto;
	zoom: 1;
}

.top {
	height: 44px;
	line-height: 43px;
	font-size: .75em;
}
.menu {
	height: 56px;
	font-size: .75em;
}

.footer,
.footer__spacer {
	display: block;
	clear: both;
	height: 149px;         /* 3 */
}

.login {
	max-width: 450px;
	margin: 0 auto;
}
.md .login__label,
.lg .login__label {
	padding-right: 1em;
	text-align: right;
}

.modal__content {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 60px;
	width: 300px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.sm .modal__content {
	width: 100%;
	height: 100%;
	top:0;
}

.modal__background {
	background-color: #000;
	opacity: .6;
}





