
/**
 *  1. Force a vertical scrollbar to prevent a jumpy page.
 */

html {
	overflow-y: scroll;                   /* 1 */
}


/**
 *  1. Fix position: fixed in most Android 2.2–2.3 browsers
 *     http://benfrain.com/easy-css-fix-fixed-positioning-android-2-2-2-3/
 *     That will also stop the paint happening on scroll
 *     thus improves scroll performance.
 */

.fix {
	position: absolute;
	position: fixed;
	-webkit-backface-visibility: hidden;   /* 1 */
}


