


/**
 *  1. Force a vertical scrollbar to prevent a jumpy page.
 *  2. Fix margin 0 auto in IE4-5.5.
 *  3. The bottom margin is the negative value of the footer's height.
 */

html {
	overflow-y: scroll;    /* 1 */
	background: #ddd;
}

body {
	color: #333;
	font: 2em/1.62 "Georgia", "Times New Roman", serif;
	text-align: center;    /* 2 */
}

.app {
	margin: 0 auto -150px; /* 3 */
}

.app__row {
	text-align: left;      /* 2 */
	margin: 0 1em;
}

.lg .app__row {
	width: 990px;
	margin: 0 auto;
	zoom: 1;
}

.footer,
.footer__spacer {
	display: block;
	clear: both;
	height: 150px;         /* 3 */
}

/**
 * box-sizing vendor prefixes is needed for Safari<5.1, Chrome<10, Firefox<29, Android<4
 */


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input[type=text] {
	border: 1px solid #999;
}
a {
	color: #039;
}
a:hover {
	color: #03C;
}

h1 {
	margin: 0;
}

.selected {
	font-weight: bold;
}

.nav {
	display: block;
	height: 2.4em;
}

.nav a {
	display: block;
	float: left;
	margin: 0 .3em;
	padding: .3em;
	background: #eee;

}

.content {
	padding: 1em 1em 3em;
}


.bg1 { background: #fff; }
.bg2 { background: #eee; }
.bg3 { background: #ddd; }
.bg3 { background: #ccc; }


.footer {
	background-image: linear-gradient(#257, #27b);
}


.footer__item {
	margin: 0;
	font-size: 1.15em; /* 15/12 */
	line-height: 1.4;
}

.footer__item dt {
	margin: 0;
	color: #789;
	font-weight: bold;
}

.footer__item dd {
	margin: 0;
}




