


/**
 *  1. These selection rule sets have to be separate.
 *  2. Do not forget to kill the text-shadow in ::selection.
 */

html {
	background: linear-gradient(#fff, #cde) fixed;
}

body {
	color: #333;
	font: 2em/1.62 "Georgia", "Times New Roman", serif;
}

::-moz-selection {             /* 1 */
	text-shadow: none;     /* 2 */
	background: #b3d4fc;
}

::selection {                  /* 1 */
	text-shadow: none;     /* 2 */
	background: #b3d4fc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 1em 0 .5em;
}

.bg-1 {
	background-image: linear-gradient(#257, #27b);
	border-bottom: 1px solid #257;
}

.bg-2 {
	border-top: 1px solid #6ae;
	border-bottom: 1px solid #123;
	background-image: linear-gradient(#38c, #269);
}

.t-1 {
	color: #def;
	font-size: 0.75em;
	text-shadow: 2px 1px 1px #000;
}

.lang > .selected {
	text-decoration: underline;
}

.menu {
	padding-top: 9px;
}

.menu__item {
	line-height: 44px;
	padding: 0 1em;
	margin: 2px 5px 0 0;
	color: #123;
	background-color: #fafafa;
	background-image: linear-gradient(#def, #cde);

	border: 1px solid #123;

	border-radius: 6px 6px 0 0;

	text-align: center;
	text-shadow: 0 0 1px #fff;
	display: block;
	float: left;
}

.menu__item:hover, .menu__item.selected {
	background-image: linear-gradient(#fff, rgba(255,255,255,0));
	border-bottom-color: #f2f7fb;
	color: #000;
}

.menu__item:active {
	background-image: linear-gradient(#49d, rgba(255,255,255,0));
}


.nav {
	display: block;
	height: 2.4em;
}

.nav a {
	display: block;
	float: left;
	margin: 0 .3em;
	padding: .3em;
	background: #eee;

}

.content {
	padding: 1em 1em 3em;
}






.footer {
	background-image: linear-gradient(#257, #27b);
}


.footer__item {
	margin: 0;
	font-size: 1.15em; /* 15/12 */
	line-height: 1.4;
}

.footer__item dt {
	margin: 0;
	color: #789;
	font-weight: bold;
}

.footer__item dd {
	margin: 0;
}




